<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Customer</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.3/css/bootstrap.min.css"
        integrity="sha512-jnSuA4Ss2PkkikSOLtYs8BlYIeeIK1h99ty4YfvRPAlzr377vr3CXDb7sb7eEEBYjDtcYj+AjBH3FLv5uSJuXg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <nav class="navbar navbar-expand">
        <div class="container-fluid">
            <a class="navbar-brand" href="/" style="color: aliceblue;">
                <img src="/img/Black and Beige Minimalist Aesthetic Modern Simple Typography Agency Logo.svg" alt="Logo"
                    width="40" height="35" class="d-inline-box align-top-text">
                S-agency
            </a>
            <div class="navbar">
                <ul class="navbar-nav me-auto my-2 my-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/" style="color: aliceblue;">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/products" style="color: aliceblue;">Products</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a style="color: aliceblue;" class="nav-link dropdown-toggle" href="#" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Link
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" aria-disabled="true">Link</a>
                    </li>
                </ul>

                </form>
            </div>
        </div>
    </nav>

    <div class="container">
        <form action="/orders/create" method="post" class="row g-4">
            <div class="col-md-4">
                <label for="customer_id" class="form-label">Name</label>
                <input type="text" class="form-control" placeholder="Your ID">
              </div>
            <div class="col-md-4">
                <label for="product_id" class="form-label">Products</label>
                <select id="product_id" class="form-select">
                  <option selected >Choose...</option>
                  <option value="1">Wall Calendars</option>
                  <option value="4">Desk Calendars</option>
                  <option value="5">Presentation Folders</option>
                </select>
              </div>
            <div class="col-md-4">
                <label for="quantity" class="form-label">Quantity</label>
                <input type="number" class="form-control" placeholder="Number" aria-label="Quantity">
            </div>
            <a href="" style="display: inline-block;">
                <button class="btn btn-primary" type="submit">Add</button>
            </a>
        </form>
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.3/js/bootstrap.bundle.min.js"
        integrity="sha512-7Pi/otdlbbCR+LnW+F7PwFcSDJOuUJB3OxtEHbg4vSMvzvJjde4Po1v4BR9Gdc9aXNUNFVUY+SK51wWT8WF0Gg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>

</html>